<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="Freezer" version="1.0.1.5" targetFramework="net472" />
  <package id="GemBox.Document" version="31.0.1175" targetFramework="net472" />
  <package id="Iron.Assets.Rendering.Windows" version="18.0.1" targetFramework="net472" />
  <package id="IronPdf" version="2020.3.2" targetFramework="net472" />
  <package id="itext7" version="7.1.10" targetFramework="net472" />
  <package id="itext7.pdfhtml" version="2.1.7" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net472" />
  <package id="itextsharp.xmlworker" version="5.5.13.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net472" />
  <package id="Syncfusion.HtmlToPdfConverter.QtWebKit.AspNet" version="18.1.0.42" targetFramework="net472" />
</packages>